* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  margin-top: 20px;
}

/* Input Library */
input {
  margin: 0.25rem;
  /* text-align: center; */
}
.text-field {
  /* border: none; */
  border: 1px solid #0af;
  outline: none;
  font-size: inherit;
  /* inherits font from system */
  padding: 0.5em;
  border-radius: 0.2em;
}
.text-field:focus {
  border: 1px solid #0af;
  box-shadow: 0 0 5px 0 #0af;
}
.text-field.success {
  border-color: #27ae60;
}
.text-field.success:focus {
  border-color: #0f0;
  box-shadow: 0 0 5px 0 #0f0;
}
.text-field.error {
  border-color: #eb5757;
}
.text-field.error:focus {
  border-color: #f00;
  box-shadow: 0 0 5px 0 #f00;
}
.text-field.small {
  font-size: 0.25em;
}
.text-field.large {
  font-size: 1.45em;
}
.text-field.disabled {
  border: 2px solid hsl(0, 1%, 50%);
  text-align: center;
  cursor: not-allowed;
  /* text-decoration: line-through; */
}
